https://openpitrix.io {
    tls appcenter@yunify.com
    browse

    log stdout
    errors stdout
    gzip
    root /srv/openpitrix.github.io/public
    hugo /srv/openpitrix.github.io

    gopkg /openpitrix https://github.com/openpitrix/openpitrix

    git {
            path /srv/openpitrix.github.io
            repo https://github.com/openpitrix/openpitrix.github.io.git
            hook /webhook QingCloud
            hook_type github
            then hugo --destination=/srv/openpitrix.github.io/public
            interval 1800
    }
}

http://openpitrix.io, https://www.openpitrix.io, http://www.openpitrix.io {
    redir https://openpitrix.io{uri}
}
