@import "markdown.css";

/* blog-page */
.blog-article {
  padding-top: 100px;
}
.article-meta {
  overflow: hidden;
  padding: 30px 0 0;
}
.article-meta h3 {
  float: left;
  color: #300E56;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  margin: 0;
}
.article-title {
  color: #6626AF;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  margin: 0 0 8px;
}
.article-info {
  overflow: hidden;
  margin: 0 0 10px;
}
.article-info h3::before {
  content: "|";
  float: left;
  color: #C9BED6;
  margin: 0 8px;
}
.article-info h3:first-child::before {
  display: none;
}
.article-author strong {
  font-weight: 400;
  color: #F4971C;
}
.article-content {
  padding: 14px 0;
  margin: 0 0 20px 0;
}

/* blog-header */
.header {
  background: linear-gradient(to left, #794db3, #854fb9 32%, #484999) !important;
  box-shadow: 0 4px 20px 0 rgba(119, 133, 146, 0.3), 0 2px 8px 0 rgba(62, 82, 101, 0.2) !important;
}
.header .logo1 {
  display: none;
}
.header .logo2 {
  display: block;
}
.header .menu li a {
  color: #fff;
  font-weight: 400;
}

/* blog-menu */
.blog-menu {
  overflow: hidden;
}
.blog-menu h3 {
  color: #6626AF;
  font-size: 16px;
  line-height: 18px;
  margin: 0 0 7px 0;
}
.blog-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 18px;
  font-size: 14px;
}
.blog-menu ul li {
  list-style: none;
}
.blog-menu_type > span {
  position: relative;
  display: block;
  margin-left: 20px;
  line-height: 32px;
  cursor: pointer;
  user-select: none;
}
.blog-menu_type > span::before {
  content: "";
  position: absolute;
  top: 11px;
  left: -16px;
  border-style: solid;
  border-width: 4px;
  border-color: transparent;
  border-left-color: #6626AF;
  transition: all .15s ease-in-out;
}
.blog-menu_type.active > span::before {
  transform: rotate(90deg) translate(3px, 2px);
}
.blog-menu_type > .blog-menu_list {
  display: none;
  overflow: hidden;
  box-shadow: border-box;
  transition: all .15s ease-in-out;
}
.blog-menu_type.active > .blog-menu_list {
  display: block;
}
.blog-menu_type > .blog-menu_list .blog-menu_type span{
  margin-left: 40px;
}
.blog-menu_item {
  position: relative;
  display: block;
  width: 100%;
  padding: 7px 15px 7px 40px;
  text-decoration: none;
  color: #7749AC;
  word-wrap: break-word;
  box-sizing: border-box;
}
.blog-menu_item:hover {
  background-color: #F5F7FA;
  text-decoration: none;
}
.blog-menu_item.active::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 24px;
  width: 4px;
  height: 4px;
  background: #F7B236;
}

/* blog-comment */
.gt-container a {
  color: #6626AF !important;
}
.gt-container .gt-btn {
  background-color: #6626AF !important;
}

/* ipad pro vertical screen & mobile */ 
@media (max-width: 1024px) {
  .menu-btn::before, .menu-btn::after {
    background: #fff;
  }
  .menu-btn::before {
    box-shadow: 0 0.06rem #fff;
  }
  .menu li.active {
    border: none;
  }
  .header.active .logo .logo1 {
    display: block;
  }
  .header.active .logo .logo2 {
    display: none;
  }

  /* sider */
  .sider {
    position: fixed;
    top: 0;
    left: -0.01rem;
    right: -0.01rem;
    bottom: 0;
    z-index: 11;
    width: auto;
    padding: 0.6rem 0 0;
    box-sizing: border-box;
    pointer-events: none;
  }
  .sider::after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 0 0.02rem 0.06rem 0 rgba(0, 0, 0, 0.07);
    z-index: -1;
    pointer-events: none;
    transform: scaleX(0);
    transform-origin: left;
    transition: opacity 250ms ease 175ms, transform 250ms ease 175ms;
  }
  .sider.active {
    pointer-events: auto;   
  }
  .sider.active::after {
    opacity: 1;
    transform: scaleX(1);
    transition-delay: 0ms;
  }
  .sider .blog-menu {
    margin: 0;
    padding: 0;
    opacity: 0;
    transform: translate(0, 15px);
    transition: opacity 250ms ease 0ms, transform 250ms ease 0ms;
  }
  .sider.active .blog-menu {
    opacity: 1;
    transform: translate(0, 0);
  }
  .sider .blog-menu {
    padding: 0 0.3rem;
  }
  .sider .blog-menu h3 {
    font-size: 0.16rem;
    line-height: 0.18rem;
    margin-bottom: 0.2rem;
  }
  .sider .blog-menu ul {
    font-size: 0.14rem;
    line-height: 0.18rem;
  }
  .sider .blog-menu_type > span {
    margin: 0 0 0.14rem 0.2rem;
    line-height: 0.18rem;
  }
  .sider .blog-menu_type > span::before {
    left: -0.16rem;
    top: 0.04rem;
    border-width: 0.04rem;
  }
  .sider .blog-menu_type > .blog-menu_list .blog-menu_type span {
    margin-left: 0.4rem;
  }
  .sider .blog-menu_item {
    padding: 0 0.15rem 0 0.4rem;
    margin-bottom: 0.14rem;
  }
  .sider .blog-menu_item.active::before {
    top: 0.07rem;
    left: 0.24rem;
    width: 0.04rem;
    height: 0.04rem;
  }
  .sider-menu-trigger {
    position: relative;
    width: 1.4rem;
    height: 0.34rem;
    line-height: 0.34rem;
    padding: 0.08rem 0.4rem 0.08rem 0.08rem;
    margin: 0 0 0.2rem 0.22rem;
    font-size: 0.16rem;
    line-height: 0.18rem;
    color: #6626AF;
    border-radius: 0.06rem;
    border: 1px solid #C9BED6;
    box-sizing: border-box;
    background: -moz-linear-gradient(top, #fff 0%, #DED4E9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#DED4E9));
    background: -webkit-linear-gradient(top, #fff 0%,#DED4E9 100%);
    background: -o-linear-gradient(top, #fff 0%,#DED4E9 100%);
    background: -ms-linear-gradient(top, #fff 0%,#DED4E9 100%);
    background: linear-gradient(to bottom, #fff 0%,#DED4E9 100%);
    cursor: pointer;
  }
  .sider-menu-trigger::after {
    content: "";
    position: absolute;
    right: 0.08rem;
    top: 0.05rem;
    width: 0.24rem;
    height: 0.24rem;
    background: url('/assets/menu-more.svg') no-repeat center/100%;
  }

  .article article {
    margin: 0;
    width: 100%;
  }
  .blog-article {
    padding: 0.68rem 0 0.2rem;
  }
  .article-meta {
    padding: 0 0.3rem;
    margin: 0 0 0.1rem;
  }
  .article-meta h3 {
    font-size: 0.14rem;
    line-height: 0.18rem;
  }
  .article-title {
    font-size: 0.28rem;
    line-height: 0.33rem;
    margin: 0 0 0.08rem;
  }
  .article-info {
    margin: 0;
  }
  .article-content {
    padding: 0.14rem 0.3rem;
  }

  .article-comment {
    padding: 0 0.3rem;
  }
  .gt-container .gt-comments {
    font-size: 0.14rem;
  }
  .markdown-body {
    font-size: 0.14rem;
  }
  .gt-container .gt-ico {
    vertical-align: top;
  }
}
