body {
  margin: auto;
}

.container {
  margin: 0 auto;
  max-width: 1128px;
}

.logo {
  height: 36px;
  margin: 24px 0;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
}
.header.pos-fix {
  background: #fff;
}

.menu {
  margin: 0;
  float: right;
  list-style: none;
}
.menu li {
  display: inline-block;
  padding: 34px 0;
  margin-left: 46px;
}
.menu li a {
  color: #6c2db5;
  opacity: 0.6;
	font-weight: 500;
	text-align: left;
  text-decoration: none;
}

#main {
  height: 720px;
}

#main .section-content {
  padding-top: 235px;
}

#main .section-title {
  margin: 0;
  font-size: 40px;
	font-weight: 500;
	line-height: 1.45;
	text-align: left;
  color: #2f0d56;
}

#main .section-desc {
  margin: 16px 0 0;
  width: 660px;
  opacity: 0.5;
	font-size: 16px;
	line-height: 1.5;
  color: #6c2db5;
}

#main .section-link {
  margin-top: 20px;
  color: #6c2db5;
  font-weight: 500;
}

footer {
  background-image: linear-gradient(103deg, #212031, #3e3d49);
}

.footer-about {
  color: #fff;
  text-align: center;
  padding: 100px 0 122px 0;
}

.footer-about h1 {
  font-size: 40px;
	font-weight: 500;
}

.footer-about p {
  width: 760px;
  margin: 0 auto;
	opacity: 0.8;
	font-size: 16px;
	line-height: 1.5;
}

.footer-business {
  text-align: right;
  border-top: 1px solid #ffffff33;
}

.footer-business img {
  float: left;
  margin-top: 16px;
}

.footer-business .icp {
  display: inline-block;
  margin: 25px 0;
  line-height: 16px;
  color: #fff;
  opacity: 0.8;
	font-size: 14px;
}