body {
  margin: auto;
  width: 100%;
  overflow-x: hidden;
  font-size: 14px;
}

.container {
  margin: 0 auto;
  max-width: 1128px;
}

.logo {
  height: 36px;
  margin: 24px 0;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  transition: background-color .2s ease-in-out;
}
.header-fix {
  background-color: #fff;
}

.menu {
  margin: 0;
  float: right;
  list-style: none;
}
.menu li {
  display: inline-block;
  padding: 34px 0;
  margin-left: 46px;
}
.menu li a {
  color: #300E56;
  opacity: 0.6;
  font-weight: 500;
  text-align: left;
  text-decoration: none;
  transition: opacity .2s ease-in-out;
}

.menu li a:hover {
  opacity: 0.8
}
.menu li a:active {
  opacity: 1
}

#main {
  height: 720px;
  background-image: linear-gradient(-148deg, #F7F7F9 1%, #F3F3F5 100%);
}

#main .section-content {
  position: absolute;
  top: 235px;
  z-index: 12;
}

#main .section-title {
  margin: 0;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.45;
  text-align: left;
  color: #300E56;
}

#main .section-desc {
  margin: 16px 0 0;
  width: 660px;
  opacity: 0.5;
  font-size: 16px;
  line-height: 1.5;
  color: #300E56;
}

#main .section-link {
  margin-top: 20px;
  color: #7749AC;
  font-weight: 500;
}

footer {
  background-image: linear-gradient(103deg, #212031, #3e3d49);
}

.footer-about {
  color: #fff;
  text-align: center;
  padding: 100px 0 122px 0;
}

.footer-about h1 {
  font-size: 40px;
  font-weight: 500;
}

.footer-about p {
  width: 760px;
  margin: 0 auto;
  opacity: 0.8;
  font-size: 16px;
  line-height: 1.5;
}

.footer-business {
  text-align: right;
  border-top: 1px solid #ffffff33;
}

.footer-business img {
  float: left;
  margin-top: 16px;
}

.footer-business .icp {
  display: inline-block;
  margin: 25px 0;
  line-height: 16px;
  color: #fff;
  opacity: 0.8;
}

.section-img11 {
  position: absolute;
  width: 265px;
  height: 425px;
  top: 200px;
  right: 447px;
  z-index: 1;
}
.section-img12 {
  position: absolute;
  width: 273px;
  height: 341px;
  top: -111px;
  right: 249px;
  z-index: 1;
}
.section-img13 {
  position: absolute;
  width: 270px;
  height: 156px;
  top: 414px;
  right: 48px;
  z-index: 1;
}
.section-img14 {
  position: absolute;
  width: 147px;
  top: 680px;
  right: 0;
  z-index: 1;
}

.float {
  transform: translate3d(0, 0, 0);
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.float11 {
  animation-name: floating11;
}
.float12 {
  animation-name: floating12;
}
.float13 {
  animation-name: floating13;
}

@keyframes floating11 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-8px, -8px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes floating12 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -10px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes floating13 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(6px, 8px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
