{{ partial "header.html" . }}

<div class="article clearfix">
	<div class="container">
		<aside class="sider">
			<div class="blog-menu">
				<h3>Blog Archive</h3>	
				<ul>
					{{ $currentPage := . }}
					{{ range (where .Site.Pages "Type" "blog") }}
						{{ range .Pages.GroupByDate "2006" }}
							<li class="blog-menu_type {{if eq ($currentPage.Date.Format "2006") .Key }}active{{ end }}">
								<span>{{ .Key }}</span>
								<ul class="blog-menu_list">
									{{ range .Pages.GroupByDate "January" }}
										<li class="blog-menu_type {{if eq ($currentPage.Date.Format "January") .Key }}active{{ end }}">
											<span>{{ .Key }}</span>
											<div class="blog-menu_list">
												{{ range .Pages }}
													<a
														class="blog-menu_item {{if eq ($currentPage.Title) .Title }}active{{ end }}"
														href="{{ .Permalink }}">
														{{ .Title }}
													</a>
												{{ end }}
											</div>
										</li>
									{{ end }}
								</ul>
							</li>
						{{ end }}
					{{ end }}
				</ul>
			</div>
		</aside>

		<article>
			<div class="article-meta">
				<h2 class="article-title">{{ .Title }}</h2>
				{{ if .Params.date }}<h3 class="article-date">{{ .Date.Format "Monday, Jan 2, 2006" }}</h3>{{ end }}					
				{{ with .Params.author }}<h3 class="article-author">{{ . }}</h3>{{ end }}
			</div>
			<div class="article-content">
				{{ .Content }}
			</div>

			{{ if and (isset .Params "gitalk") (eq .Params.gitalk true) }}
				{{ partial "comment.html" . }}
			{{ end }}
		</article>
	</div>
</div>

{{ partial "footer.html" . }}
