<footer>
    <main class="light-text">
<!-- for documents.
        <nav>
            <a href="/docs/tutorials/stateless-application/hello-openpitrix/">Get Started</a>
            <a href="/docs/home/">Documentation</a>
            <a href="http://blog.openpitrix.io/">Blog</a>
            <a href="/partners/">Partners</a>
            <a href="/community/">Community</a>
            <a href="/case-studies/">Case Studies</a>
        </nav>
-->    
    <div class="social">
            <div>
                <a href="https://twitter.com/openpitrix" class="twitter"><span>twitter</span></a>
                <a href="https://openpitrix.slack.com/" class="slack"><span>Slack</span></a>
            </div>
    </main>
</footer>
