<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/plugin/aos.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />

    {{ partial "head_custom.html" . }}
  </head>

  <body>
    <nav class="header">
      <div class="container">
        <h1 class="logo"><a href="#"><img src="/assets/logo.svg" alt="" height="36"></a></h1>
        <ul class="menu">
          {{ range .Site.Menus.main }}
          <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </div>
    </nav>
