{{ partial "header.html" . }}

<section id="main">
  <div class="container">
    <div class="section-content" data-aos="fade-up">
      <h1 class="section-title">Application Management</h1>
      <h1 class="section-title">Platform on Multi-Cloud Environment</h1>
      <p class="section-desc">OpenPitrix is an Open-source, enterprise  system for  package ,deploy and orchestration applications into multiple cloud environments such as QingCloud, AWS, Kubernetes etc.</p>
      <p class="section-link">COMING SOON...</p>
    </div>
  </div>
</section>

{{ partial "footer.html" . }}
