{{ partial "header.html" . }}

<div id="main">
  <section class="first">
    <div class="container">
      <div class="section-content" data-aos="fade-up">
        <h1 class="section-title">Application Management</h1>
        <h1 class="section-title">Platform on Multi-Cloud Environment</h1>
        <p class="section-desc">OpenPitrix is an Open-source, enterprise  system for  package ,deploy and orchestration applications into multiple cloud environments such as QingCloud, AWS, Kubernetes etc.</p>
        <p class="section-link">COMING SOON...</p>
      </div>
    </div>
    <img class="section-img11 float float11" src="/assets/1-1.png" alt="">
    <img class="section-img12 float float12" src="/assets/1-2.png" alt="">
    <img class="section-img13 float float13"src="/assets/1-3.png" alt="">
    <img class="section-img14" src="/assets/1-4.png" alt="">
  </section>

  <section class="second">
    <div class="container">
      <div class="section-content">
        <h3 class="section-title">Why OpenPitrix?</h3>
        <div class="section-desc">
            Since software used in business, diversity software was developed. For example, categorize by architecture：
            <ul>
              <li>Java EE traditional enterprise application.</li>
              <li>LAMP ( linux,apache,mysql/postgresql,php/python/perl ) Open Source Software stack.</li>
              <li>Virtalization image.</li>
              <li>Container image.</li>
              <li>Microservice components.</li>
              <li>and a lot of more.</li>
            </ul>
            This is Cloud era, so all above application must run on cloud computing, Just like QingCloud,AWS, Or VMware, Kubernetes based envrionment. Which framework or platform can do this? So OpenPitrix make sence, born for resovle this problem.
        </div>
      </div>

      <img class="section-img21" src="/assets/2-1.png" alt="star1" />
      <img class="section-img22" src="/assets/2-2.png" alt="star2" />
      <img class="section-img23" src="/assets/2-3.png" alt="star3" />
      <img class="section-img24" src="/assets/2-4.png" alt="oval1" />
      <img class="section-img25" src="/assets/2-5.png" alt="oval2" />
      <img class="section-img26" src="/assets/2-6.png" alt="why" />
    </div>
  </section>

  <section class="fourth">
    <div class="container">
      <div class="section-content">
        <h3 class="section-title">Support multiple cloud platforms</h3>
        <p class="section-desc">
          Adopted plug-in style development framework, abstraction the current mainstream cloud platform interface , uniform them for the user is completely transparent, reducing complexity for application developer.
        </p>
        <p class="section-desc">
            public cloud platform supported include: AWS, GCE, Azure, QingCloud,etc.<br />
            private cloud platform supported : Kubernetes, OpenStack, QingCloud,etc.        
        </p>
      </div>

      <img class="section-img41" src="/assets/4-1.png" alt="support-cloud" />
      <img class="section-img42" src="/assets/4-2.png" alt="support" />    
    </div>
  </section>

  <section class="fifth">
    <div class="container">
      <div class="section-content">
        <h3 class="section-title">
          Unify all kind of application,monolitic,microservice,distributed,etc.
        </h3>
        <p class="section-desc">
          The technology is evolving, application is same, but old sytle not disappear. all kinds of application coexist in cloud computing era. OpenPitrix adopted distributed configurtion management, abstract meta configuration infomation, compatible with all(almost) application.
        </p>
      </div>

      <img class="section-img51" src="/assets/5-1.png" alt="unify-bg" />
      <img class="section-img52" src="/assets/5-2.png" alt="unify" />     
    </div>
  </section>

  <section class="sixth">
    <div class="container">
      <div class="section-content">
        <h3 class="section-title">Adopted microservice for openpitrix itself</h3>
        <p class="section-desc">
          Openpitrix adopted microservice, every funcation have indepent service, architecture high level .
        </p>
      </div>

      <img class="section-img61" src="/assets/6-1.png" alt="ui" />
      <img class="section-img62" src="/assets/6-2.png" alt="dot" />
      <img class="section-img63" src="/assets/6-3.png" alt="app" />
      <img class="section-img64" src="/assets/6-4.png" alt="block1" />
      <img class="section-img65" src="/assets/6-5.png" alt="circle" />
      <img class="section-img66" src="/assets/6-6.png" alt="repo" />
      <img class="section-img67" src="/assets/6-7.png" alt="runtime" />
      <img class="section-img68" src="/assets/6-8.png" alt="APP" />
      <img class="section-img69" src="/assets/6-9.png" alt="block2" />
      <i class="dot-repo1"></i>
      <i class="dot-repo2"></i>
      <i class="dot-repo3"></i>
      <i class="dot-runtime1"></i>
      <i class="dot-app1"></i>
      <i class="dot-app2"></i>
    </div>
  </section>

  <section class="seventh">
    <div class="section-wave">
      <img class="section-img70" src="/assets/7-0.png" alt="wave1" />
    </div>

    <div class="container">
      <div class="section-content">
        <h3 class="section-title">As the picture show</h3>
      </div>
      <div class="section-process">
      </div>

      <img class="section-img71" src="/assets/7-1.png" alt="wave2" />
      <img class="section-img72" src="/assets/7-2.png" alt="diamond1" />
      <img class="section-img73" src="/assets/7-3.png" alt="diamond2" />
    </div>
  </section>

  <section class="eighth">
    <div class="container">
      <div class="section-content">
        <h3 class="section-title">Case Studies</h3>
        <div class="section-case">
          <a href="#"><img src="/assets/8-1.png" alt="中国民生银行" /></a><a href="#"><img src="/assets/8-2.png" alt="泰康人寿" /></a>
        </div>
      </div>
    </div>
  </section>
</div>

{{ partial "footer.html" . }}
